<div class="bg-white">
    <div>
        <!-- Mobile Filterdialog -->
        <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-black/25" aria-hidden="true"></div>
            <div class="fixed inset-0 z-40 flex">
                <div class="relative ml-auto flex w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl">
                    <div class="flex items-center justify-between px-4">
                        <h2 class="text-lg font-medium text-gray-900">Filters</h2>
                        <button type="button" class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
                            <span class="sr-only">Close menu</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>

                    <!-- Filter -->
                    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="mt-4 border-t border-gray-200">
                        <div class="border-t border-gray-200 px-4 py-6">
                            <h3 class="-mx-2 -my-3 flow-root">
                                <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                                    <span class="font-medium text-gray-900">Category</span>
                                    <span class="ml-6 flex items-center">
                    <!-- Expand icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                    </svg>
                                        <!-- Collapse icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
                    </svg>
                  </span>
                                </button>
                            </h3>
                            <div class="pt-6" id="filter-section-mobile-category">
                                <div class="space-y-4">
                                    @for (cat of categories; track $index){
                                        <div class="flex gap-3 items-center">
                                            <input
                                                    type="checkbox"
                                                    [value]="cat.id"
                                                    (change)="onCategoryChange($event)"
                                                    class="h-5 w-5 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                                            <label class="text-sm text-gray-600">{{ cat.name }}</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- Price -->
                        <div class="border-t border-gray-200 px-4 py-6">
                            <h3 class="-mx-2 -my-3 flow-root">
                                <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                                    <span class="text-gray-900">Price</span>
                                    <span class="ml-6 flex items-center">
                    <!-- Expand icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                    </svg>
                                        <!-- Collapse icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
                    </svg>
                  </span>
                                </button>
                            </h3>
                            <div class="pt-6" id="filter-section-mobile-price">
                                <!--<div class="space-y-4">
                                    <div class="mb-2">
                                        <label class="block text-sm text-gray-700">
                                            Min: {{ filterForm.get('priceRange')?.value[0] }}€
                                        </label>
                                        <input type="number"
                                               [min]="minPrice"
                                               [max]="maxPrice"
                                               formControlName="priceRange"
                                               (change)="filterForm.patchValue({ priceRange: [ $any($event.target).value, filterForm.get('priceRange')?.value[1]]})"
                                               class="mt-1 block w-full border-gray-300 rounded-md shadow-sm font-light">
                                    </div>
                                    <div>
                                        <label class="block text-sm text-gray-700">
                                            Max: {{ filterForm.get('priceRange')?.value[1] }}€
                                        </label>
                                        <input type="number"
                                               [min]="minPrice"
                                               [max]="maxPrice"
                                               formControlName="priceRange"
                                               (change)="filterForm.patchValue({ priceRange: [ filterForm.get('priceRange')?.value[0], $any($event.target).value] })"
                                               class="mt-1 block w-full border-gray-300 rounded-md shadow-sm font-light">
                                    </div>
                                </div>-->
                                <div class="space-y-4">
                                    <div class="mb-2">
                                        <label class="block text-sm text-gray-700">
                                            Min: {{ filterForm.get('minPrice')?.value }}€
                                        </label>
                                        <input type="number"
                                               [min]="minPrice"
                                               [max]="maxPrice"
                                               formControlName="minPrice"
                                               class="mt-1 block w-full border-gray-300 rounded-md shadow-sm font-light">
                                    </div>
                                    <div>
                                        <label class="block text-sm text-gray-700">
                                            Max: {{ filterForm.get('maxPrice')?.value }}€
                                        </label>
                                        <input type="number"
                                               [min]="minPrice"
                                               [max]="maxPrice"
                                               formControlName="maxPrice"
                                               class="mt-1 block w-full border-gray-300 rounded-md shadow-sm font-light">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Date -->
                        <div class="border-t border-gray-200 px-4 py-6">
                            <h3 class="-mx-2 -my-3 flow-root">
                                <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                                    <span class="text-gray-900">Availability</span>
                                    <span class="ml-6 flex items-center">
                    <!-- Expand icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                    </svg>
                                        <!-- Collapse icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
                    </svg>
                  </span>
                                </button>
                            </h3>
                            <div class="pt-6" id="filter-section-mobile-dates">
                                <div class="space-y-4">
                                    <div>
                                        <label class="block text-sm text-gray-700">Start</label>
                                        <input type="date" formControlName="startDate" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm font-light">
                                    </div>
                                    <div>
                                        <label class="block text-sm text-gray-700">End</label>
                                        <input type="date" formControlName="endDate" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm font-light">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="lg:w-full ml-4 bg-indigo-600 text-white py-2 px-4 rounded-md">
                            Filter anwenden
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Desktop View -->
        <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex items-baseline justify-between border-b border-gray-200 pt-24 pb-6">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900">Products</h1>
            </div>
            <div class="flex flex-col lg:flex-row">
                <form class="hidden lg:block lg:w-1/4 p-4" (ngSubmit)="applyFilters()" [formGroup]="filterForm">
                    <div class="border-b border-gray-200 py-6">
                        <h3 class="-my-3 flow-root">
                            <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                                <span class="font-medium text-gray-900">Category</span>
                                <span class="ml-6 flex items-center">
                    <!-- Expand icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                    </svg>
                                    <!-- Collapse icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
                    </svg>
                  </span>
                            </button>
                        </h3>
                        <div class="pt-6" id="filter-section-0">
                            <div class="space-y-4">
                                @for (cat of categories; track $index){
                                    <div class="flex gap-3 items-center">
                                        <input
                                                type="checkbox"
                                                [value]="cat.id"
                                                (change)="onCategoryChange($event)"
                                                class="h-5 w-5 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                                        <label class="text-sm text-gray-600">{{ cat.name }}</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <!-- Price -->
                    <div class="border-t border-gray-200 px-4 py-6">
                        <h3 class="-mx-2 -my-3 flow-root">
                            <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                                <span class="font-medium text-gray-900">Price</span>
                                <span class="ml-6 flex items-center">
                    <!-- Expand icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                    </svg>
                                    <!-- Collapse icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
                    </svg>
                  </span>
                            </button>
                        </h3>
                        <div class="pt-6" id="filter-section-desktop-price">
                            <div class="space-y-4">
                                <div class="mb-2">
                                    <label class="block text-sm text-gray-700">
                                        Min: {{ filterForm.get('minPrice')?.value }}€
                                    </label>
                                    <input type="number"
                                           [min]="minPrice"
                                           [max]="maxPrice"
                                           formControlName="minPrice"
                                           class="mt-1 block w-full border-gray-300 rounded-md shadow-sm font-light">
                                </div>
                                <div>
                                    <label class="block text-sm text-gray-700">
                                        Max: {{ filterForm.get('maxPrice')?.value }}€
                                    </label>
                                    <input type="number"
                                           [min]="minPrice"
                                           [max]="maxPrice"
                                           formControlName="maxPrice"
                                           class="mt-1 block w-full border-gray-300 rounded-md shadow-sm font-light">
                                </div>
                            </div>
                            <!--<div class="space-y-4">
                                <div class="mb-2">
                                    <label class="block text-sm text-gray-700">
                                        Min: {{ filterForm.get('priceRange')?.value[0] }}€
                                    </label>
                                    <input type="number"
                                           [min]="minPrice"
                                           [max]="maxPrice"
                                           formControlName="priceRange"
                                           (change)="filterForm.patchValue({ priceRange: [ $any($event.target).value, filterForm.get('priceRange')?.value[1]]})"
                                           class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                                </div>
                                <div>
                                    <label class="block text-sm text-gray-700">
                                        Max: {{ filterForm.get('priceRange')?.value[1] }}€
                                    </label>
                                    <input type="number"
                                           [min]="minPrice"
                                           [max]="maxPrice"
                                           formControlName="priceRange"
                                           (change)="filterForm.patchValue({ priceRange: [ filterForm.get('priceRange')?.value[0], $any($event.target).value] })"
                                           class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <!-- Date -->
                    <div class="border-t border-gray-200 px-4 py-6">
                        <h3 class="-mx-2 -my-3 flow-root">
                            <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                                <span class="font-medium text-gray-900">Availability</span>
                                <span class="ml-6 flex items-center">
                    <!-- Expand icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                    </svg>
                                    <!-- Collapse icon, show/hide based on section open state. -->
                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
                    </svg>
                  </span>
                            </button>
                        </h3>
                        <div class="pt-6" id="filter-section-desktop-dates">
                            <div class="space-y-4">
                                <div>
                                    <label class="block text-sm text-gray-700">Start</label>
                                    <input type="date" formControlName="startDate" class="mt-1 block w-full border-gray-300 rounded-md text-sm font-light">
                                </div>
                                <div>
                                    <label class="block text-sm text-gray-700">End</label>
                                    <input type="date" formControlName="endDate" class="mt-1 block w-full border-gray-300 rounded-md text-sm font-light ">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="mt-4 lg:w-full bg-indigo-600 text-white py-2 px-4 rounded-md">
                        Apply Filter
                    </button>
                </form>

                <!-- Products -->
                <div class="grid grid-cols-1 gap-x-8 gap-y-5 lg:grid-cols-3 md:grid-cols-2 lg:auto-rows-[25vh] lg:ml-auto lg:mr-auto mt-4">
                    @for (article of articles; track $index) {
                        <a href="#" class="group">
                            <img [src]="article.bildUrl" alt="{{ article.bezeichnung }}"
                                 class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
                            <h3 class="mt-4 text-sm text-gray-700">{{ article.bezeichnung }}</h3>
                            <p class="mt-1 text-xs text-gray-900">{{ article.grundpreis }}€ pro Tag, pro Gerät</p>
                        </a>
                    }
                </div>
            </div>
        </main>
    </div>
</div>
